<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunsen.enjoy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <!--8.0安装-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".common.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 微信 -->

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!--QQ登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106880995" />        <!--app Id-->
            </intent-filter>
        </activity>
        <!--//高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ba972155375ade032175041398457297" />
        <service android:name="com.amap.api.location.APSService"></service>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yunsen.enjoy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--监听网络连接的-->
        <receiver android:name=".common.wsmanager.NetStatusReceiver" />
        <!-- app activity -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Guide2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SecondActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HouseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MoveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CarDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.PersonCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.TishiNicknameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".activity.mine.GenderFangShiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".activity.mine.ModPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.UserForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.AddressManagerGlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.AddUserAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.AddressManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.JuJingCaiXqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.WareInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pay.TishiCarArchivesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".activity.user.PhoneLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.UserLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.UserLoginWayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".activity.user.UserRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.TishiWxBangDingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".activity.user.MobilePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.EditUserAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.DBFengXiangActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".activity.pay.ZhiFuOKActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pay.TishiBaoMinOkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".activity.pay.MyOrderZFActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".activity.pay.DianZiPiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.TeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.MyAssetsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.MyQianBaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pay.MonneyChongZhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.dealer.ApplyServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.AppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.DianPingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.MyOrderXqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.CarServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.WatchCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.ApplyBuyFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.ApplyBuyTwoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activity.buy.ApplyBuyThreeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".fragment.buy.SelectBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.buy.SeniorFilterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.buy.MeetAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceShopInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.dealer.ApplyServiceSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.dealer.ApplyServiceThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.dealer.MyFacilitatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/wx_login_style" />
        <activity
            android:name=".activity.mine.WithdrawCashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.ExchangePointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.PartsShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.GoodsDescriptionActivityOld"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.SecondActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.ShopCartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.MyOrderConfrimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pay.ZhiFuFangShiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.buy.ServiceMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.BindBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectCityNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity
            android:name=".activity.buy.MyLoanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.ExtensionActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>